VacationPy

Note
Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

Store Part I results into DataFrame

Load the csv exported in Part I to a DataFrame

In [2]:
#Create a file path to read into csv file
file_path = "../output_data/city_weather_data.csv"
csv_df = pd.read_csv(file_path)
csv_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Country,Wind Speed,Date
0,port elizabeth,-33.9180,25.5701,75.20,57.0,0.0,ZA,14.97,1.611929e+09
1,vanimo,-2.6741,141.3028,79.59,85.0,100.0,PG,10.27,1.611929e+09
2,ushuaia,-54.8000,-68.3000,39.20,81.0,40.0,AR,19.57,1.611929e+09
3,jamestown,42.0970,-79.2353,18.00,79.0,90.0,US,10.36,1.611929e+09
4,hobart,-42.8794,147.3294,62.60,88.0,90.0,AU,9.22,1.611929e+09
...,...,...,...,...,...,...,...,...,...
577,eydhafushi,5.1033,73.0708,80.91,72.0,46.0,MV,12.75,1.611930e+09
578,manicore,-5.8092,-61.3003,76.26,93.0,98.0,BR,2.82,1.611930e+09
579,nang rong,14.6377,102.7914,81.00,51.0,84.0,TH,6.91,1.611930e+09
580,lagoa,39.0500,-27.9833,59.16,71.0,100.0,PT,22.39,1.611930e+09
581,denpasar,-8.6500,115.2167,78.80,89.0,75.0,ID,11.50,1.611929e+09

Humidity Heatmap

Configure gmaps.

Use the Lat and Lng as locations and Humidity as the weight.

Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [5]:
#Filter data frame at columns for latitude and longitude, set data type as float
coord = csv_df[['Lat', 'Lng']].astype(float)

#Remove any empty cells
csv_df = csv_df.dropna()

#Filter data frame further at column for humidity, set data type as float
humidity = csv_df["Humidity"].astype(float)

#Create a gmaps figure, setting variable that has stored lat and lng at locations & variable that has store humidity as the weight
fig = gmaps.figure(center=(30.0, 0.0), zoom_level=2, map_type="TERRAIN")

heat_layer = gmaps.heatmap_layer(coord, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 3)
#Add heat layer to gmaps
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

Create new DataFrame fitting weather criteria

Narrow down the cities to fit weather conditions.

Drop any rows will null values.

In [6]:
#Set up criteria for best weather conditions by filtering data from import csv and then continue
csv_df = csv_df.dropna()
# csv_df.head()

#Max temp >70, <80
filter_df = csv_df.loc[(csv_df["Max Temp"] < 80) & (csv_df["Max Temp"] > 70), :]
                       
len(filter_df)

114

In [7]:
# #Winnd speed <10 mph
filter_1 = filter_df.loc[filter_df['Wind Speed'] < 10, :]

# filter_2.head()
len(filter_1)

81

In [8]:
#Zero clouds ==
filter_2 = filter_1.loc[filter_1['Cloudiness'] == 0, :]

# filter_2.head()
len(filter_2)

14

In [9]:
#Store filtered df from above into a new variable named hotel_df
hotel_df = pd.DataFrame(filter_2)
# hotel_df.head()

#Add an empty column titled "Hotel Name"
hotel_df["Hotel Name"] = ""

hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Country,Wind Speed,Date,Hotel Name
36,awbari,26.5921,12.7805,70.7,23.0,0.0,LY,6.49,1.611929e+09,
58,champerico,14.3000,-91.9167,73.4,78.0,0.0,GT,5.84,1.611929e+09,
67,hermanus,-34.4187,19.2345,75.0,58.0,0.0,ZA,5.01,1.611929e+09,
80,ilo,-17.6394,-71.3375,71.6,78.0,0.0,PE,6.91,1.611929e+09,
88,bredasdorp,-34.5322,20.0403,75.0,58.0,0.0,ZA,5.01,1.611929e+09,

In [10]:
len(hotel_df)

14

Hotel Map

Store into variable named hotel_df.
Add a "Hotel Name" column to the DataFrame.
Set parameters to search for hotels with 5000 meters.
Hit the Google Places API for each city's coordinates.
Store the first Hotel result into the DataFrame.
Plot markers on top of the heatmap.

In [11]:
#Search for hotels with specified criteria by setting up a dictionary for keyword params argument in requests.get() method

query_params = {
    "radius": 5000,
    "type": "lodging",
    "keyword": "lodging",
    "key": g_key  
}

# Loop through the hote_df and run a lat/long search for each city and country
for index, row in hotel_df.iterrows():

    lat = row["Lat"]
    lng = row["Lng"]
    city = row["City"]
    country = row["Country"]
    
     # change location each iteration while leaving original params in place
    query_params['location'] = f"{lat},{lng}"
    
    #user the search term: "lodging" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # make request
    response = requests.get(base_url, params=query_params)
    
#     print the hotelname url
#     print(response)

    # convert to json
    show_hotel = response.json()

# Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        print("Found a place to stay...storing.")
        hotel_df.loc[index, "Hotel Name"] = show_hotel["results"][0]["name"]
    except (KeyError, IndexError):
        print("Missing field/result...skipping.")

Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.
Missing field/result...skipping.
Found a place to stay...storing.
Found a place to stay...storing.
Found a place to stay...storing.

In [12]:
hotel_df.head()
len(hotel_df)

14

In [13]:
#Replace any empty rows in "Hote Name" column with NAN
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)

In [14]:
#Drop values with NAN for final results
hotel_df = hotel_df.dropna()
len(hotel_df)

13

In [15]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [16]:
# Add marker layer ontop of heat map
# Display figure
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig2 = gmaps.figure(center=(0.0, 0.0), zoom_level=2)
fig.add_layer(marker_layer)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))